body, html {
  margin: 0;
  padding: 0;
}

.img-container {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  padding: 20px; 
  background-color: #fff; 
}

.img-container img {
  width: 32px; 
  height: auto; 
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

.img-container img:hover {
  transform: translateY(-10px); /* Move a imagem para cima */
}

footer {
  background-color: #66666e; 
  color: white; 
  width: 100%; 
  padding: 0; 
  box-sizing: border-box; 
}

footer .container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 20px 0; 
  width: 90%; 
  margin: 0 auto; 
}

.footer-text {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.footer-text p {
  margin: 0; 
}

.footer-text a {
  color: #fff; 
  text-decoration: none; 
}

.footer-text a:hover {
  text-decoration: underline; 
}
